@(title: String)(implicit req: RequestHeader)

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@title</title>
    @helper.javascriptRouter("jsRoutes")(
    routes.javascript.Application.index,
    routes.javascript.Application.graph,
    routes.javascript.Application.acceptRunMain,
    routes.javascript.Application.acceptDisplayModel,
    routes.javascript.Application.acceptPopulateModel,
    routes.javascript.Application.acceptQuery,
    routes.javascript.Application.visualize
    )
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("1.1.3/dist/css/shepherd-theme-arrows.css"))">
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("js/jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <script src="@routes.Assets.versioned("javascripts/sigma.min.js")" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("tether.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("shepherd.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("src-min/ace.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("src-min/mode-scala.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("src-min/mode-java.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("src-min/theme-twilight.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("sigma.layout.forceAtlas2.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("sigma.plugins.dragNodes.min.js"))"></script>


    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/graph.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/plugins/settings.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.versioned("javascripts/plugins/sigma.canvas.edges.labels.curve.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.versioned("javascripts/introduction.js")" type="text/javascript" charset="utf-8"></script>



</head>
<body>
    <div class="page-header">
        <h1 style="text-align: center">Saul<small> Declarative Learning-Based Programming</small></h1>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="nav-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Playground</a></li>
                        <li><a role="button" data-toggle="collapse" href="#collapseExamples" aria-expanded="true" aria-controls="collapseExamples">Examples</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="collapse in panel-collapse" id="collapseExamples">

            <button type="button" class="btn btn-info well2" id="ToyExample">
                ToyExample
            </button>
            <!--
            <button type="button" class="btn btn-info well2" id="KnowEng">
                KnowEng
            </button>
            <button type="button" class="btn btn-info well2" id="EmailSpam">
                EmailSpam
            </button>
            <button type="button" class="btn btn-warning well2" id="EdisonFeatures">
                EdisonFeatures
            </button>
                
                <button type="button" class="btn btn-danger well2" id="POSTagger">
                    POSTagger
                </button>
                <button type="button" class="btn btn-danger well2" id="EntityMentionRelation">
                    EntityMentionRelation
                </button>
                <button type="button" class="btn btn-danger well2" id="SemanticRoleLabeling">
                    SemanticRoleLabeling
                </button>
                <button type="button" class="btn btn-danger well2" id="SetCover">
                    SetCover
                </button>
            -->
        </div>
    </div>
    <div id="hoverBar"></div>
    <div class="alert alert-success nodevalue" id="nodevalue" role="showvalue"><span class="text" id="nodetext1"></span></div>
    <div class="alert alert-danger" id="errors" role="alert"></div>
    <div class="progress progress-striped active"  style="display:none;width:90%;margin-left:auto;margin-right:auto;" id="pbar" >
      <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
      <span class="sr-only">100% Complete</span>
  </div>
</div>
<input type="file" id="selectedFile" style="display: none;"/>
<div class="panel-body" style="float : left ;width: 50%;">
    <ul class="nav nav-tabs" id="fileList">
        <li class="active" id="fileName1"><a href="#">test.scala</a></li>

        <div id="btnList">
            <button class="btn btn-danger bb" id="deleteFile" style="float:right;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <button class="btn btn-primary bb" id="uploadFile" style="float:right;" onclick="document.getElementById('selectedFile').click();"><span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span></button>

            <div class="dropdown bb" style="float:right;">
                <button class="btn btn-success dropdown-toggle bb" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="plusFile" ><span class="glyphicon glyphicon-plus"></span><span class="caret"></span></button>

                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="newmodel">DataModel</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="newcla">Classifier</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="newapp">Main App</a></li>
              </ul>
          </div>
      </div>
  </ul>
  <div class="form-group" id="workspace">
    <div id="editor1" class="editor active"></div>
</div>
<div style="text-align: center">
    <input type="text" name="query" id="query">
    <button type="query" class="btn btn-default" id="queryBtn">Query</button>
</div>
<div style="text-align: center">
    <button type="compile" class="btn btn-default" id="compileBtn">Schema</button>
    <!--<button type="stop" class="btn btn-default">Stop</button>-->
    <button type="populate" class="btn btn-default" id="populateBtn">Populate</button>
    <button type="run" class="btn btn-default" id="runBtn">Console Output</button>
    <button type="visualize" class="btn btn-default" id="visualizeBtn">Visualize all</button>
</div>
</div>
<div id="statisticsWrapper" class="bg-info"></div>
<div class="tabs panel-body">

    <ul class="nav nav-tabs" id="gtabs">
        <li class="active" id="gtab1" value="tab1"><a >Data Model</a></li>
        <li class="" id="gtab2" value="tab2"><a>Populated Data Model</a></li>
        <li class="" id="gtab3" value="tab3"><a>Running Result</a></li>
        <button class="btn btn-default" class="leftBtn" id="rescale-graph">Resize</button>
        <button class="btn btn-default" class="leftBtn" id="maximize">Maximize</button>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <div class="panel panel-default">
               <div class="panel-body" id="graphParent1" style="height: 350px; text-align: center">
                <div id="schemaGraphContainer"></div>
            </div>
        </div>
    </div>

    <div id="tab2" class="tab">
        <div class="panel panel-default">
            <div class="panel-body" id="graphParent2" style="height: 350px; text-align: center">
                <div id="populatedGraphContainer"></div>

            </div>
        </div>
    </div>

    <div id="tab3" class="tab">
    </div>

</div>
</div>

</body>
</html>
